<div class="empty">

</div>

<div class="male  container"> 
      <h5> <p>Things to know for males
            To reduce the accidents one should be aware that if you are at age of 26-39yrs 
            should be a carefull driver.</p>
            <p>also you need to be more carefull or try to avoid driving on sundays especially.</p> </h5> 

        <img class="img-responsive zoom" src="assets/images/3.png"> 

       <h5><P>By the above observation we can get that most of accidents has been casued by males aged from 26-39yrs.</P>
       </h5> 
        <img class="img-responsive" src="assets/images/5.png">
        <h5><P>most of the incidents are caused on sunday followed by monday 
        and the least number of accidents are recorded on wednesday.
        </P>
        </h5>
</div>