<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">Ambulance Data</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <div class="dropdown">
  <span  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <li class="dropdown-toggle">Gender</li>
  </span>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/male">Male</a>
    <a class="dropdown-item" href="/female">Female</a>
  </div>
</div>
                <li><a href="/location">Weather</a></li>
                <div class="dropdown">
                  <span  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <li class="dropdown-toggle">Services</li>
                  </span>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/lga">LGA</a>
                    <a class="dropdown-item" href="/response-time">Response Time</a>
                    <a class="dropdown-item" href="/crashtype">Crash Type</a>

                  </div>
                </div>
                <li><a href="/contact">Contact</a></li>

            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
  </nav>
  
 
  
  <router-outlet></router-outlet>